html,
body {
  height: 100%;
}
body {
  z-index: 1;
}
h1,
h2,
h3,
body,
p,
ul,
figure,
li {
  margin: 0;
}
ul,
button {
  padding: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

li,
p {
  line-height: 1.5;
}
ul {
  list-style: none;
}
a,
button,
svg {
  color: inherit;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

button,
input {
  font-size: inherit;
}