html {
  font-size: 62.5%;
  --background-color: var(--wa-color-neutral-5);
  background-color: var(--background-color);
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--wa-font-sans);
  color: var(--wa-color-neutral-90);
  background-color: var(--background-color);
}
main {
  flex: 1;
  padding-block-end: var(--wa-space-m);
}