.u-bg-primary-500 {
  background-color: var(--wa-color-brand-50);
}
.u-color-neutral-50 {
  color: var(--wa-color-neutral-5);
}
.u-color-primary {
  color: var(--wa-color-brand-50);
}
.u-color-danger {
  color: var(--wa-color-danger-50);
}