.u-padding-block {
  padding-block: var(--wa-space-m);
}
.u-padding-block--small {
  padding-block: var(--wa-space-s);
}
.u-padding-block-end {
  padding-block-end: var(--wa-space-m);
}
.u-padding-block-end--x-small {
  padding-block-end: var(--wa-space-xs);
}