.u-text-start {
  text-align: start !important;
}
.u-text-center {
  text-align: center;
}
.u-text-end {
  text-align: end !important;
}

.u-nowrap {
  white-space: nowrap;
}

.u-text-small {
  font-size: var(--wa-font-size-s);
  color: var(--wa-color-neutral-60);
}