NEXT_PUBLIC_APP_URL=http://localhost:3000
POCKETBASE_URL=http://127.0.0.1:8090
NEXT_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=admin@daboxi.local
PB_ADMIN_PASSWORD=Admin123456789!
PB_ENCRYPTION_KEY=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
SENTRY_AUTH_TOKEN=
ENABLEBANKING_APP_ID=
ENABLEBANKING_PRIVATE_KEY=