NEXT_PUBLIC_APP_URL=https://daboxi.emanuelsaramago.com
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://DOMAIN.com/v1
APPWRITE_DATABASE_ID=
SENTRY_AUTH_TOKEN=
ENABLEBANKING_APP_ID=
ENABLEBANKING_BANK_NAME=Revolut
ENABLEBANKING_COUNTRY=PT
ENABLEBANKING_PRIVATE_KEY=