a:has(.c-card-button) {
  text-decoration: none;
}

.c-card-button {
  width: 100%;
  min-height: 4rem;
  margin-block-end: -1px;
  padding: var(--wa-space-xs) 0;
  border-block-start: 1px solid var(--wa-color-neutral-10);
  border-block-end: 1px solid var(--wa-color-neutral-10);
  text-align: left;
  text-decoration: none;
  gap: var(--wa-space-m);
  font-weight: 600;
  text-decoration: none; 
}

button[disabled] > .c-card-button {
  opacity: .6;
  cursor: not-allowed;
}

.c-card-button,
.c-card-button__left {
  display: flex;
  align-items: center;
}
.c-card-button.small {
  min-height: 3.6rem;
  font-size: var(--wa-font-size-s);
}
.c-card-button__left {
  flex-grow: 1;
  gap: var(--wa-space-s);
}
.c-card-button__sub-description {
  font-size: .9em;
  color: var(--wa-color-neutral-60);
  font-weight: 400;
}
.c-card-button__right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

@media (max-width: 768px) {
  .c-card-button.small {
    min-height: auto;
  }
}
