.l-row {
  display: flex;
  align-items: center;
  gap: var(--wa-space-m);
}

.l-row--space-between {
  justify-content: space-between;
}

.l-row--large {
  gap: var(--wa-space-l);
}
.l-row--small {
  gap: var(--wa-space-s);
}

.l-row--x-small {
  gap: var(--wa-space-xs);
}

.l-row__fill {
  flex-grow: 1;
}