.l-stack {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-m);
}
.l-stack--small {
  gap: var(--wa-space-s);
}
.l-stack--large {
  gap: var(--wa-space-l);
}
.l-stack--x-small {
  gap: var(--wa-space-xs);
}
.l-stack--2x-small {
  gap: var(--wa-space-2xs);
}