.c-button {
  width: 100%;
  min-height: var(--wa-input-height-medium);
  gap: var(--wa-space-m);
  font-weight: 500;
  text-align: center;
  padding: var(--wa-space-xs) var(--wa-space-m);
  border-radius: var(--wa-border-radius-m);
  background-color: var(--wa-color-brand-60);
  border-color: var(--wa-color-brand-60);
  color: var(--wa-color-neutral-0);

  &[disabled] {
    opacity: .6;
    cursor: not-allowed;
  }
}
.c-button--neutral {
  background-color: var(--wa-color-neutral-80);
  border-color: var(--wa-color-neutral-70);
  color: var(--wa-color-neutral-20);
}