.c-dropdown {
  background-color: var(--wa-color-neutral-0);
  border: 1px solid var(--wa-color-gray-20);
  border-radius: var(--wa-border-radius-m);
  padding: var(--wa-space-s);
  box-shadow: var(--wa-shadow-m);
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-s);
  align-items: flex-start;
}