.c-ghost-input::part(base) {
  background-color: transparent;
  border: none;
  height: auto;
  padding: 0;
  margin: 0;
  color: inherit;
  height: auto;
  padding-block: var(--wa-space-2xs);
}
.c-ghost-input::part(input) {
  field-sizing: content;
  flex: none;
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.c-ghost-input::part(end) {
  margin: 0;
}
.c-ghost-input--large::part(base) {
  font-size: var(--wa-font-size-l);
  font-weight: 600;
}
.c-ghost-input--x-large::part(base) {
  font-size: var(--wa-font-size-2xl);
  font-weight: 600;
}

.c-ghost-input::part(base)::placeholder,
.c-ghost-input::part(base)::-webkit-input-placeholder {
  color: inherit;
  opacity: .8;
}