.c-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--wa-input-border-radius-medium);
  height: var(--wa-input-height-medium);
  background-color: var(--wa-input-background-color);
  border: solid var(--wa-input-border-width) var(--wa-input-border-color);
  padding: 0 var(--wa-input-spacing-medium);
}