.sl-toast-stack {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  z-index: var(--sl-z-index-toast);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.sl-toast-stack sl-alert {
  --sl-spacing-large: var(--sl-spacing-small);
  margin: var(--sl-spacing-medium);
}

.sl-toast-stack sl-alert::part(base) {
  box-shadow: var(--sl-shadow-large);
}

/* Overrides */

sl-drawer {
  --size: auto;
  --header-spacing: var(--sl-spacing-medium);
  --body-spacing: 0 var(--sl-spacing-medium);
  --footer-spacing: 0 var(--sl-spacing-medium);
}

sl-button {
  --sl-spacing-small: var(--sl-spacing-x-small);
}

sl-textarea::part(base) {
  font-size: var(--sl-input-font-size-small);
}

:where(sl-input, sl-textarea, sl-select)::part(form-control-label)::after {
  color: var(--sl-color-danger-500);
}

sl-card {
  --padding: var(--sl-spacing-medium);
}

sl-tab::part(base) {
  padding: var(--sl-spacing-small);
}

sl-avatar::part(base) {
  background-color: var(--sl-color-primary-500);
}