.c-table {
  width: 100%;
  border-collapse: collapse;
}
.c-table th {
  font-weight: 500;
  text-align: start;
}
.c-table :where(td, th) {
  padding: var(--wa-space-2xs) var(--wa-space-xs);
  border: 1px solid var(--wa-color-neutral-30);
}