.c-value {
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
}
.c-value--large {
  font-size: var(--wa-font-size-xl);
}
.c-value--x-large {
  font-size: var(--wa-font-size-2xl);
  line-height: 1.1;
}
.c-value--small {
  font-size: var(--wa-font-size-s);
  color: var(--wa-color-neutral-50);
}