.c-date--sticky {
  position: sticky;
  top: -1px;
  display: block;
  padding-block: var(--wa-space-xs);
  background-color: var(--background-color);
  font-weight: 500;
}
.c-date--small {
  font-size: var(--wa-font-size-s);
  color: var(--wa-color-neutral-70);
}