.c-header {
  background-color: var(--sl-color-primary-500);
  color: var(--sl-color-neutral-50);
}
.c-header--no-background {
  background-color: transparent !important;
  color: var(--sl-color-neutral-900);
}
.c-header__container {
  display: flex;
  height: 6rem;
  align-items: center;
  gap: var(--sl-spacing-x-small);
}
.c-header--no-background .c-header__container {
  height: auto;
  padding-block-start: var(--sl-spacing-medium);
}
.c-header__title,
.c-header h1 {
  flex-grow: 1;
  text-align: left;
}
.c-header__title button {
  display: inline-flex;
  align-items: center;
  gap: var(--sl-spacing-x-small);
  text-decoration: none;
  cursor: pointer;
}
.c-header h1 {
  flex-grow: 1;
  font-size: var(--sl-font-size-large);
  font-weight: 500;
}
.c-header sl-icon,
.c-header sl-icon-button {
  font-size: var(--sl-font-size-large);
}
.c-header sl-icon-button {
  color: var(--sl-color-neutral-50);
}