.c-header {
  background-color: var(--wa-color-brand-50);
  color: var(--wa-color-neutral-5);
}
.c-header--no-background {
  background-color: transparent !important;
  color: var(--wa-color-neutral-90);
}
.c-header__container {
  display: flex;
  height: 6rem;
  align-items: center;
  gap: var(--wa-space-xs);
}
.c-header--no-background .c-header__container {
  height: auto;
  padding-block-start: var(--wa-space-m);
}
.c-header__title,
.c-header h1 {
  flex-grow: 1;
  text-align: left;
}
.c-header__title button {
  display: inline-flex;
  align-items: center;
  gap: var(--wa-space-xs);
  text-decoration: none;
  cursor: pointer;
}
.c-header h1 {
  flex-grow: 1;
  font-size: var(--wa-font-size-l);
  font-weight: 500;
  @media print {
    color: var(--wa-color-neutral-90);
    font-weight: 600;
    font-size: var(--wa-font-size-xl);
  }
}
.c-header wa-icon {
  font-size: var(--wa-font-size-l);
}